html { 
    background: url({{media_url('images/adamtindale.jpg')}}) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    color: #fff;
    margin: 0 auto;
    padding: 50px;
    padding-top: 80px;
    font-size: 80%;
}
nav, header, footer, section, article {
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
}
.container {
    position: relative;
    float: left;
}
.content {
    position: relative; /* Fixes the z-index */
    float: left;
    margin: 0 auto;
}
.content hr{
    width: 180px;
}
#column-1 {
    overflow: hidden;
}
#column-1 .content {
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    width: 320px;
}
#social{
    position: fixed;
    top: 0px;
    right: 10px;
    height: 50px;
    display: inline;
    vertical-align: middle;
    border-style: none; 
    text-decoration: none;
    margin: 0 0;
}
#social a {
    text-decoration: none;
}
#social a:hover {
    text-decoration: none;
}
#menu{
    position: fixed;
    display: inline;
    top:0;
    left:0;
    height: 50px;
    width: 100%;
    margin: 0 0;
    // text-align: center;
    float: left;
    background: #333;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);  
    .box-shadow(0, 1px, 8px, 0.6);
    -moz-box-shadow: 0 0 0 #000; // Because firefox sucks.
}
a {
    text-decoration: none;
    color: #888888;
}
a:active { text-decoration: none; }
a:visited { 
    text-decoration: none;  
    color : #888888;
}
a:hover { text-decoration: underline; }
footer{
    position: fixed;
    bottom: 3px;
    right: 15px;
    color: #dddddd;
    font-size: 9px;
}

/* Let's compensate for IE6's inability to interpret top: 0; and bottom: 0; */
* html #column-1 .overlay { height: expression(document.getElementById("column-1").offsetHeight); }


