---
extends: base.j2
title: Adam R. Tindale
---
{## <!--  http://bitsamppixels.com/transparent-columns/ --> ##}
{% block headjs %}
{{ super() }}
	<script>
	$(document).ready(function(){
	$('#upcoming').click(function() {
  		$('#events').slideToggle('slow')
	});
	$('#past').click(function() {
  		$('#pastevents').slideToggle('slow')	
	});
	$('#cv').click(function() {
  		$('#bio').slideToggle('slow')
	});
	});
	</script>
{% endblock headjs %}

{% block main %}
            <div id="column-1" class="container"> 
                <div class="overlay"></div> 
                <div class="content"> 
{% markdown %} 
#Adam Tindale 

Drummer/Researcher  
Artist/Programmer  
Wanderer/Tinkerer  
*********
Associate Professor of Human-Computer Interaction  
Digital Futures Initiative  
*[OCAD University](http://www.ocadu.ca)*  
*********
<adam@adamtindale.com>  
{% endmarkdown %}
                        <h3><a href="#" id="upcoming">Upcoming Events</a></h3>
                        <div id="events" style="display:none;">
                        {% markdown %}
                        {% include "events/upcoming.markdown" without context %}
                        {% endmarkdown %}
                        </div>

                        <h3><a href="#" id="past">Past Events</a></h3> 
                        <div id="pastevents" style="display:none;">
                        {% markdown %}
                        {% include "events/past.markdown" without context %}
                        {% endmarkdown %}
                        </div>
                        
                        <h3><a href="#" id="cv">Bio/CV</a></h3> 
                        <div id="bio" style="display:none;">
                        {% markdown %}
                        {% include "info/biocv.markdown" without context %}
                        {% endmarkdown %}
                        </div>

                </div> 
            </div> 
{% endblock main %}
