---
extends: base.j2
title: Adam R. Tindale
---
{## <!--  http://bitsamppixels.com/transparent-columns/ --> ##}
{% block headjs %}
{{ super() }}
        <script language="javascript"> 
            function toggle(id) {
                var text = document.getElementById(id);
                if(text.style.display == "block") {
                    text.style.display = "none";
                }
                else {
                    text.style.display = "block";
                }
            } 
        </script>
{% endblock headjs %}

{% block main %}
            <div id="column-1" class="container"> 
                 <div class="overlay"></div> 
                    <div class="content"> 
{% markdown %} 
#Adam Tindale 

Drummer/Researcher  
Artist/Programmer  
Wanderer/Tinkerer  
*********
Permanent Instructor of Interaction Design   
Head of Media Arts and Digital Technologies   
*[Alberta College of Art and Design](http://www.acad.ca)*

<adam.tindale@acad.ca>  
*****************
{% endmarkdown %}
                        <h3><a href="#" onclick="toggle('events')">Upcoming Events</a></h3>
                        <div id="events" style="display:none;">
                        {% markdown %}
                        {% include "events/upcoming.markdown" without context %}
                        {% endmarkdown %}
                        </div>

                        <h3><a href="#" onclick="toggle('pastevents')">Past Events</a></h3> 
                        <div id="pastevents" style="display:none;">
                        {% markdown %}
                        {% include "events/past.markdown" without context %}
                        {% endmarkdown %}
                        </div>
                        
                        <h3><a href="#" onclick="toggle('bio')">Bio/CV</a></h3> 
                        <div id="bio" style="display:none;">
                        {% markdown %}
                        {% include "biocv/biocv.markdown" without context %}
                        {% endmarkdown %}
                        </div>

                    </div> 
                </div> 
            </div> 
{% endblock main %}
