---
extends: project.j2
title: Chris Chafe +  Adam Tindale Duo
---

{% block image %}
{{ projectimage('/media/images/18_chris-chafe-and-adam-tindale-wide-shot.jpg') }}
{% endblock image %}

{% block blurb %}
- Chris Chafe - Electronic Celletto
- Adam Tindale - Electronic Drums

In the summer of 2009 at the *Interactive Screen 0.9: The Makers* event at the Banff Centre for the Arts, Chris Chafe and Adam Tindale performed a 30 minute improvised set. 

Visit [Chris Chafe.](https://ccrma.stanford.edu/~cc)
{% endblock blurb %}

{% block videos %}
{{ youtube("WJMZ83MOt5k") }}
{% endblock videos %}

{% block gallery %} 
{#
/files/gimgs/th-18_chrischafe09.jpg
/files/gimgs/th-18_chris-chafe-and-adam-tindale-wide-shot.jpg
/files/gimgs/th-18_chris-chafe-and-adam-tindale.jpg
#}
{% endblock gallery %}
