---
extends: project.j2
title: Vector Rails
link: http://www.vectorrails.com/
---
{% block blurb %}
- Clinker - Analog Modular Synthesizers
- Adam Tindale - Electronic Drums

Vector Rails is a new electronic duo between Clinker (Electronics) and Adam Tindale (Drums) that builds upon a relationship established at SONIC BOOM! presented by EMMEDIA in 2009. Clinker brings his patient minimalism to the furried excitement of Adam Tindale's electronic percussion explorations. The duo combines aspects of drone, ambient, down-tempo, breakbeatz, and electroacoustic textures into a rich soup to be explored at one's leisure. Both explorers and pioneers, Clinker and Adam Tindale provide audiences with a fresh look at the possiblities of collaboration and expression with live electronics.

Visit [Clinker.](http://www.clinkersound.com)

## Audio

<p><object height="81" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11025567&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11025567&amp;show_comments=false&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/adamtindale/vector-rails-a-valid-line">Vector Rails- A Valid Line</a> by <a href="http://soundcloud.com/adamtindale">adamtindale</a></span></p>

{% endblock blurb %}


{% block videos %}
{{ youtube("j-kvYl9dVO0") }}
{{ youtube("Yknj39DiUzM") }}
{% endblock videos %}
