---
extends: project.j2
title: Vector Rails
link: http://www.vectorrails.com/
---


{% block image %}
{{ projectimage('vectorrails.jpg') }}
{% endblock image %}

{% block blurb %}
- Clinker - Analog Modular Synthesizers
- Adam Tindale - Electronic Drums

Vector Rails is a new electronic duo between Clinker (Electronics) and Adam Tindale (Drums) that builds upon a relationship established at SONIC BOOM! presented by EMMEDIA in 2009. Clinker brings his patient minimalism to the furried excitement of Adam Tindale's electronic percussion explorations. The duo combines aspects of drone, ambient, down-tempo, breakbeatz, and electroacoustic textures into a rich soup to be explored at one's leisure. Both explorers and pioneers, Clinker and Adam Tindale provide audiences with a fresh look at the possiblities of collaboration and expression with live electronics.

Visit [Clinker.](http://www.clinkersound.com)

## Audio

<iframe width="560" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11025567&amp;auto_play=false&amp;show_artwork=false&amp;color=000000"></iframe>
## Video
{% endblock blurb %}

{% block videos %}
{{ youtube("j-kvYl9dVO0") }}
{{ youtube("Yknj39DiUzM") }}
{% endblock videos %}
