<!DOCTYPE HTML>
<html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="robots" content="index">


  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
<section id="menu"> 
        <nav style="word-spacing:50px;margin-left:50px;"> 
        <h2>
            <a href="/">&#35;Home</a> 
            <a href="/biocv">&#35;Info</a> 
            <a href="/projects">&#35;Projects</a> 
            <a href="/code">&#35;Code</a>
            <a href="/blog">&#35;Blog</a>
        </h2>
        </nav> 
        </section> 

        <section id="social">
        <a href="http://www.twitter.com/adamtindale" target="_blank"><img src="{{ media_url('images/bird_48_black.png') }}" ></a>
            <a href="http://www.youtube.com/adamrtindale" target="_blank"><img src="/media/images/youtube_logo_onecolor_againstwhite-vflhSQ1Dt.png" width="48px"></a>
            <a href="http://www.github.com/drart" target="_blank"><img src="/media/images/octocat_black.png" width="48px"></a>
            <a href="http://www.soundcloud.com/adamtindale" target="_blank"><img src="/media/images/soundcloud_black.png" width="48px"></a>
        </section> 

  <footer>Powered by <a href="http://ringce.com/hyde">hyde</a>.</footer>

  {% block main %}
  {% endblock main %}

  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
	  {% block scripts %}
	  {% endblock scripts %}
	  {% block analytics %}
	  {% include "analytics.j2" %}
	  {% endblock analytics %}
  {% endblock js %}
</body>
</html>
