<!DOCTYPE HTML>
<html>
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  {#
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  #}
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="robots" content="index">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  {% block favicons %}
  {#
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
   #}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  {% endblock css %}

  {% block headjs %}
  {#
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
  #}
    <script src="{{ media_url('js/libs/modernizr.js') }}"></script>		
    <script src="{{ media_url('js/jquery-2.0.0.min.js') }}"></script>

  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
<canvas id="myCanvas"></canvas> 

<section id="menu"> 
        <nav style="word-spacing:50px;margin-left:50px;"> 
		<h2>
		    <a href="/">&#35;Home</a> 
		    <a href="/info">&#35;Info</a> 
		    <a href="/projects">&#35;Projects</a> 
		    <a href="/code">&#35;Code</a>
		    <a href="/blog">&#35;Blog</a>
		</h2>
        </nav> 
</section> 
<section id="social">
            <a href="http://www.twitter.com/adamtindale" target="_blank"><img src="{{ media_url('images/bird_48_black.png') }}" alt="twitter"></a>
            {# <a href="http://www.youtube.com/adamrtindale" target="_blank"><img src="/media/images/play-button-1.png" width="48" alt="youtube"></a> #}
            <a href="http://www.github.com/drart" target="_blank"><img src="/media/images/octocat_black.png" width="48" alt="github"></a>
            <a href="http://www.soundcloud.com/adamtindale" target="_blank"><img src="/media/images/soundcloud_black.png" width="48" alt="soundcloud"></a>
</section> 

  {% block main %}
          <div id="maincolumn"> 
             <div class="overlay"></div> 
             <div class="content"> 
                  {% block content %}
                  {% endblock content %}
             </div> 
          </div> 
  {% endblock main %}

  <footer>Powered by <a href="http://ringce.com/hyde">hyde</a>.</footer>

  {% block js %}
  {# <!-- Javascript at the bottom for fast page loading --> #}
	  {% block scripts %}
	    <script src="{{ media_url('js/anim.js') }}"></script>
	    <script>$(function() {$('#myCanvas').hide().fadeIn(5000);});</script>
	  {% endblock scripts %}
	  {% block analytics %}
	  {% include "analytics.j2" %}
	  {% endblock analytics %}
  {% endblock js %}
</body>
</html>
