
{% macro youtube(location, width=560, height=350) %} 
<iframe width="{{ width }}" height="{{ height }}" src="http://www.youtube.com/embed/{{ location }}" frameborder="0" allowfullscreen></iframe><br /> <br />
{% endmacro %}

{% macro projectimage(filename, atxt="an image") %}
<a href="/media/images/{{filename}}"><img src="/media/images/th_{{filename}}" alt={{ atxt }}></a>
{% endmacro %}


{% macro oldprojectimage(location, atxt="an image") %}
<a href="{{location}}"><img src="{{location}}" width=560 alt={{ atxt }}></a>
{% endmacro %}

{# Macros from template. I will use these later #}
{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.post|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}
