{% extends "base.j2" %}


{% block main -%}

<h1 class="title"> {{ resource.meta.title }} </h1>

{% block link %}
<{{resource.meta.link}}>
{% endblock link %}



{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{%- endblock main %}
