{% extends "base.j2" %}
{% from "macros.j2" import youtube with context %}
{% from "macros.j2" import projectimage with context %}

{% block content %}
<h1 class="title"> {{ resource.meta.title }} </h1>

{% if resource.meta.link is defined %}
{% block link %} 
{% markdown %}<{{resource.meta.link}}> {% endmarkdown %} {% endblock link %}
{% endif %}

{# I'd love for this to work...
{% if resource.block.gallery is defined %}
flajfalkjf;ajd;
{% endif %}
#}

{% markdown %}
{% block image %}{% endblock image %}
{% block blurb %}{% endblock blurb %}
{% block events %} {% endblock events %}
{% block videos %} {% endblock videos %}
{% block gallery %}{% endblock gallery %}
{% endmarkdown %}

{% endblock content %}
