{% extends "base.j2" %}

{% block main %}
<h1 class="title"> {{ resource.meta.title }} </h1>
{% block link %} <{{resource.meta.link}}> {% endblock link %}

{% block blurb %}
{% markdown %}
{% endmarkdown %}
{% endblock %}

{% block videos %} {% endblock videos %}

{% endblock main %}
