<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title><%- page.title %></title>

        <%- js('js/menu.js') %>
	</head>
	<body>
        <%- body %>
        <%- js('js/anim.js') %>
	</body>
</html>
