---
extends: base.j2
default_block: main
title: Adam Tindale - Bio/CV
---
{% markdown %}
## Bio

{% include "info/biocv.markdown" %}

## Upcoming Events

{% include "events/upcoming.markdown" %}

## Media

Those things in the right hand corner up there are links to my microblog, youtube, github and soundcloud accounts. You can check out my thoughts, videos, code, and sound that I have posted online. 

- [http://www.twitter.com/adamtindale](Twitter)
- [http://www.youtube.com/adamrtindale](Youtube)
- [https://www.github.com/drart](Github)
- [http://www.soundcloud.com/adamtindale](Soundcloud)


## Past Events

{% include "events/past.markdown" %}
{% endmarkdown %}
