---
extends: base.j2
default_block: content 
title: Adam Tindale - Bio/CV
---

{% from "macros.j2" import projectimage without context %}

{% markdown %}
#Info

{{ projectimage('adamtindale.jpg') }}

## Bio

{% include "info/biocv.markdown" %}

## Upcoming Events

{% include "events/upcoming.markdown" %}

----

## Media

Those things in the right hand corner up there are links to my [microblog](http://www.twitter.com/adamtindale), [youtube](http://www.youtube.com/adamrtindale), [github](https://www.github.com/drart) and [soundcloud](http://www.soundcloud.com/adamtindale) accounts. You can check out my thoughts, videos, code, and sound that I have posted online. 

{{ projectimage('adamtindaledrumming.jpg') }}

## Past Events

{% include "events/past.markdown" %}
{% endmarkdown %}

