---
title: The Open Spaces Project
extends: project.j2
---

{% block blurb %}
<em>Co-presented with MACHiNENOiSY through The Dance Centre's Artist-in-Residence program.</em>

An ambitious and exciting new work for a cast of six men, The Open Spaces Project is an international collaboration between MACHiNENOiSY Co-Artistic Director Daelik, Berlin-based Australian performance artist Paul Gazzola and Calgary-based sound and new media artist Adam Tindale. The piece investigates the influence of space on identity, the relationship between architecture and gender, and constructs of masculinity, drawing on themes ranging from the cowboy as a masculine icon to the colonization of remote landscapes. Weaving innovative choreography, sophisticated video manipulation and sound together, The Open Spaces Project presents a multilayered essay on people and space.

##Sound Track

<iframe width="560" height="350" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F604252&amp;auto_play=false&amp;show_artwork=true&amp;color=000000"></iframe>

## Reviews
- <http://www.straight.com/article-273832/vancouver/machinoisys-open-spaces-project-feels-happening>
- <http://www.straight.com/article-273106/vancouver/architects-dance>

{% endblock blurb%}

{% block videos %}

## Videos
{{ youtube("Ox7IZPovU3w") }}
{{ youtube("eQX9SZlueZw") }}

{% endblock videos %}

